.about-container{
    display: flex;
    justify-content: left;
    height: 500px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 20px;
    align-items: center; /* Center items vertically */
    margin-top: 0%;
    gap: 100px;    
}

.container-text{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;

    width:60%; 
    margin-left: 10%;
}


.container-image{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 200px;
    width: 20%; 

}


.about-image{
    max-height: 500px;
    transition: text-shadow 0.3s ease-in-out; /* Smooth transition */
 cursor: pointer;
}

.about-image:hover{

}



.container-text{
    display: flex;
    flex-direction: column;
    padding: 20px;

}

.container-text h1{
    position: grid;
    color: rgb(207, 48, 48);
    font-size: 50px;
    font-weight: 700;
    transition: text-shadow 0.3s ease-in-out; /* Smooth transition */
    cursor: pointer;


    margin-bottom: 50px;
}

.container-text p{
    font-size: 24px;
    transition: text-shadow 0.3s ease-in-out; /* Smooth transition */
    cursor: pointer;

}


.container-text h1:hover {
    /* Glow effect on hover */
    color: rgb(247, 68, 68);
    /* Optional: Change text color on hover */
}

.container-text p:hover {
    /* Glow effect on hover */
    color: #000000; /* Optional: Change text color on hover */
}